# If not stated otherwise in this file or this component's LICENSE file the
# following copyright and licenses apply:
#
# Copyright 2019 Sky UK
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

#
# This file is systemd script for launching the dobby service
# at boot time.
#
# Enable dobby to start on boot:
#         systemctl enable dobby.service
#
# Start dobby immediately:
#         systemctl start dobby.service
#
# Stop dobby:
#         systemctl stop dobby.service
#
# Status:
#         systemctl status dobby.service

[Unit]
Description=RDK Dobby (Container) daemon

[Service]
Type=dbus
BusName=org.rdk.dobby
ExecStart=/usr/sbin/DobbyDaemon --nofork --noconsole --journald
WatchdogSec=5
Restart=on-failure

[Install]
WantedBy=multi-user.target
